<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Failure</title>
</head>
<body>
    <form action="/signup" method="post">
        <h1>That email is already taken, please try again!</h1>
        <label for="email">Email</label>
        <input type="text" placeholder="Email" name="email">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" name="password">

        <button type="submit" value="submit">Sign Up</button>
    </form>
</body>
</html>