<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incompatible Width</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#73C276" />
    <meta name="apple-mobile-web-app-title" content="PeakPass | Home" />

    <meta property="og:title" content="PeakPass | Home" />
    <meta property="og:url" content="https://peakpass.pkrm.dev" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://peakpass.pkrm.dev/static/peakpass_logo.png"/>
    <meta property="og:description" content="PeakPass - the best password manager to date."/>
    
    <meta name="description" content="PeakPass - the best password manager to date."/>
    <meta name="robots" content="index, follow" />
    <meta name="http-equiv" content="X-Robots-Tag : index, follow" />
    <meta name="googlebot" content="index, follow" />
    
    <meta name="twitter:card" content="summary" />
</head>
<body>
    <h1>Mobile/Tablet development is still in the works. Please use a desktop with a screen width of at least 1080px in order to access this site at the moment.</h1>
</body>
</html>

<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

    * {
        font-size: .75rem;
        font-family: Montserrat;
    }

    body {
        background-color: rgb(50, 52, 63);
        min-height: 100vh;
    }

    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 2rem;
        text-align: center;
    }
</style>